@model NoticiasMvc.Models.Tag
@{
    ViewData["Title"] = "Excluir Tag";
}
<h2>Excluir</h2>
<h4>Tem certeza que deseja excluir esta Tag?</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Descrição</dt>
    <dd class="col-sm-10">@Model.Descricao</dd>
</dl>
<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
